@(formType: String, stadiumForm: Form[Stadium])

@main(formType + " Stadium") {

<h1>@formType Stadium</h1>

@helper.form(action = routes.StadiumController.storeStadium()){
<input type="hidden" id="@stadiumForm("stadID").id"
	name=“@stadiumForm("stadID").name"
	value='@stadiumForm("stadID").value' />
	@helper.inputText(stadiumForm("Name"))
	@helper.inputText(stadiumForm("Address"))
	@helper.inputText(stadiumForm("NumberOfSeats"))
	@helper.inputText(stadiumForm("NumberOfExits"))
	@helper.inputText(stadiumForm("Sponsor"))
	<input type="submit" value="Save">
	}
}	