@(stadiums: List[Stadium])

@import helper._

@main("Stadiums") {

	<h1>List of stadiums</h1>
	<table>
	<tr>
	<td><strong>Name</strong></td>
	<td><strong>Address</strong></td>
	<td><strong>Number of Seats</strong></td>
	<td><strong>Number of exits</strong></td>
	<td><strong>Sponsor</strong></td>
	</tr>
	@for(stadium <- stadiums) {
		<tr>
			<td>@stadium.name</td>
			<td>@stadium.address</td>
			<td>@stadium.numberOfSeats</td>
			<td>@stadium.numberOfExits</td>
			<td>@stadium.sponsor</td>
			<td>@helper.form(action =
				routes.StadiumController.updateStadium(stadium.stadID)) {<input
				type="submit" value="Update"> }
			</td>
			<td>@helper.form(action =
				routes.StadiumController.deleteStadium(stadium.stadID)) {<input
				type="submit" value="Delete"> }
			</td>
		</tr>
	}
</table>
<a href="@routes.StadiumController.createStadium()">Create a new Stadium</a>
}			
