@(stadiums: List[Stadium])

@import helper._

@main("Stadiums") {

	<h1>List of stadiums</h1>
	
	<a href="@routes.StadiumController.createStadium()">Create a new Stadium</a>
	<table>
	@for(stadium <- stadiums) {
		<tr>
			<td>@stadium.name</td>
			<td>@stadium.address</td>
			<td>@stadium.numberOfSeats</>
			<td>@stadium.numberOfExits</td>
			<td>@stadium.sponsor</td>
			<td>@helper.form(action =
				routes.StadiumController.updateStadium(stadium.stadId)) { <input
				type="submit" value="Update"> }
			</td>
			<td>@helper.form(action =
				routes.StadiumController.deleteStadium(stadium.stadId)) { <input
				type="submit" value="Delete"> }
			</td>
		</tr>
	}
</table>
}			
